 /****************fonts*****************
 **************************************/
 @font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/BigNoodleTitling.eot');
    src: url('../fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigNoodleTitling.woff2') format('woff2'),
        url('../fonts/BigNoodleTitling.woff') format('woff'),
        url('../fonts/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
}